<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Airline System</title>
</head>
<body>
    <header>
        <div class="container">
            <nav id="main-nav" class="flex items-center justify-between">
                <div class="left flex items-center">
                    <div class="branding">
                        <img  class="logo" src="../static/images/logo1.png" alt="">
                    </div>
                    <div>
                        <a href="/home">Home</a>
                        <a href="/search-flights">Search Flights</a>
                        <a href="/book-ticket">Book Tickets</a>
                        <a href="/view-ticket">View Ticket</a>
                        <a href="/cancel-ticket">Cancel Ticket</a>
                    </div>
                </div>
                <div class="right">
                    <a href="/home#contact-section"><button class="btn btn-primary">CONTACT</button></a>
                </div>
            </nav>


            <div id="slider">
                <div>
                    <div class="header-content">
                        <h1>The Sky is Waiting for You</h1>
                        <p>
                            With CheapFlights, you can easily book any ticket you need to travel safely thanks to our detailed system of searching and booking airline tickets.
                        </p>
                        <!-- <button class="btn btn-primary">Book Now</button> -->
                        <a href="/search-flights"><button class="btn btn-primary">Book Now</button></a>

                    </div>
                    <figure>
                        <img src="../static/images/slider_img1.jpg" alt="">
                        <img src="../static/images/slider_img2.jpg" alt="">
                        <img src="../static/images/slider_img3.jpg" alt="">
                        <img src="../static/images/slider_img4.jpg" alt="">
                        <img src="../static/images/slider_img1.jpg" alt="">
                    
                    </figure>
                </div>
            </div>


        </div>
    </header>

    <section class="services" id="services-section">
        <div class="container">
            <h1 class="section-heading"><span>Our</span> Services</h1>
            <p>We provide high standard services</p>
            <div class="card-wrapper">
                <div class="card">
                    <img src="../static/images/search.png" alt="">
                    <h2>The World's Travel Search Engine</h2>
                    <p>You can use our search engine to find any flight you want and select a desired destination and price.</p>
                </div>
                <div class="card">
                    <img src="../static/images/plane.png" alt="">
                    <h2>Cheap and Beneficial Air Tickets</h2>
                    <p>We provide affordable tickets to the flights of almost all existing airlines so you don’t need to look for them.</p>
                </div>
                <div class="card">
                    <img src="../static/images/headphones.png" alt="">
                    <h2>Our Support Lines are Open 24/7</h2>
                    <p>Our 24/7 support operators are always ready to help you select a proper flight according to your needs.</p>
                </div>
                <div class="card">
                    <img src="../static/images/wallet.png" alt="">
                    <h2>Convenient Payment Method For You</h2>
                    <p>We provide a variety of payment methods including cheque, cash, and credit cards.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="blog" id="blog-section">
        <div class="container">
            <h1 class="section-heading"> <span>Blog</span> Posts </h1>
            <p>Some of the lastest blog posts</p>
            <div class="card-wrapper">
                <div class="card">
                    <div class="img-wrapper">
                        <img class="blog-img" src="../static/images/blog_img1.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <a href="#"><h1>Visiting Paris on a Budget</h1></a>
                        <span>May 12 ,2021</span>
                        <p>Paris is one of top-rated European cities – people usually try to spend there as much time as possible, and you also my be lucky enough to spend an...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="img-wrapper">
                        <img class="blog-img" src="../static/images/blog_img2.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <a href="#"><h1>How to Make Travel Videos</h1></a>
                        <span>May 12 ,2021</span>
                        <p>Introducing our new Travel Video Course, taught by experts Sharon Carpenter and Beverly Bennett! They have over 31,000,000 YouTube views, have...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="img-wrapper">
                        <img class="blog-img" src="../static/images/blog_img3.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <a href="#"><h1>People's Dream Trip</h1></a>
                        <span>May 12 ,2021</span>
                        <p>Last year, we announced a case study program, in which we would work with a cross-section of readers and help them plan and execute their trips...
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="reviews">
        <div class="container">
            <h1 class="section-heading">Customer <span> Reviews</span></h1>
            <p>Some of our customers reviews</p>
            <div class="slider">
                <div class="slide">
                    <img src="../static/images/lady.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio deserunt inventore vero, quasi, nulla doloribus ea facilis neque nesciunt veritatis necessitatibus soluta ipsum? Fugit at, molestias exercitationem nobis et dolorum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, facere.
                    </p>
                    <span>-John Doel ,SINGAPORE</span>
                </div>
                <div class="slide">
                    <img src="../static/images/lady.png" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio deserunt inventore vero, quasi, nulla doloribus ea facilis neque nesciunt veritatis necessitatibus soluta ipsum? Fugit at, molestias exercitationem nobis et dolorum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, facere.
                    </p>
                    <span>-John Doel , Company ABC</span>
                </div>
            </div>
            <div class="slider-dots">

            </div>
        </div>
    </section>



    <section class="contact" id="contact-section">
        <div class="container">
            <h1  class="section-heading">Contact<span> Us</span> </h1>
            <p>We provide high standar clear website for your business solutions</p>
            <div class="card-wrapper">
                <div class="card">
                    <img src="../static/images/phone2.svg" alt="">
                    <h2>Call Us On</h2>
                    <h6>+985 123 7856</h6>
                </div>
                <div class="card">
                    <img src="../static/images/mail.svg" alt="">
                    <h2>Email Us At</h2>
                    <h6>support@company.com</h6>
                </div>
                <div class="card">
                    <img src="../static/images/locate.svg" alt="">
                    <h2>Visit Office</h2>
                    <h6>99 S.t Jomblo Park Pekanbaru 28929.Indonesia</h6>
                </div>
            </div>
            
            <form action="/home" method="post">
                <div class="input-wrap">
                    <input type="text" placeholder="Your Name" Name="name">
                    <input type="email" placeholder="Your Email" Name="email">
                </div>
                <div class="input-wrap-2">
                    <input type="text" placeholder="Subject" Name="subject">
                    <input type="text" placeholder="Your Message..." Name="message">
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-primary">Send Message</button>
                </div>
            </form>


        </div>
    </section>


    <footer>
        <div class="container flex space-around ">
            <div class="f_left">
                <img class="logo" src="../static/images/logo1.png" alt="">
                <div class="footer-socials">
                    <a href="#"><img src="../static/images/fb.svg" alt=""></a>
                    <a href="#"><img src="../static/images/insta.svg" alt=""></a>
                    <a href="#"><img src="../static/images/twitter1.svg" alt=""></a>
                    <a href="#"><img src="../static/images/linked-in.svg" alt=""></a>
                </div>
            </div>
            <div class="f_mid">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/search-flights">Search Flights</a></li>
                    <li><a href="/book-ticket">Book Ticket</a></li>
                    <li><a href="/home#contact-section">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="copy-right">
                <p>Copyright 2021 @ Airline Reservation System.All Rights Reserved.</p>
        </div>
    </footer>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>